:root {
    --dark: #171717;
    --main: #DA0037;
    --main2: #444444;
    --main3: #EDEDED;
}
body{
    background: var(--dark);
    color: var(--main);
}
.container{
    margin: auto;
    max-width: 500px;
    text-align: center;
}
a{
    margin-left: 1rem;
    color:var(--main3);
    font-size: 1.2rem;
}
nav h1{
    display: inline-block;
}

.download{
    color: var(--main3);
    text-decoration: underline;
    cursor: pointer;
}