:root {
    --dark: #171717;
    --main: #055fb4;
    --main2: #444444;
    --main3: #EDEDED;
}
body{
    background: var(--dark);
    color: var(--main);
}
.container{
    margin: auto;
    max-width: 500px;
    text-align: center;
}
a{
    text-decoration: none;
    margin-left: 1rem;
    color:var(--main3);
    font-size: 1.2rem;
}
nav h1{
    display: inline-block;
}

.download{
    color: var(--main3);
    text-decoration: underline;
    cursor: pointer;
}
/*file list*/
header{
    font-weight: bold;
}
header, .row {
    gap: 20px;
    display: flex;  /* aligns all child elements (flex items) in a row */
}

.col {
    text-align: start;
    flex: 1;        /* distributes space on the line equally among items */
}
.fileContainer{
    flex-direction: column;
    display: flex;
    align-items: center;
}
/*upload*/
.upCont{
    display: flex;
    flex-direction: column;
    align-items:center;
    gap: 0.5rem;
}
button,.upCont label {
    border-radius: .25rem;
    background-color: var(--main);
    padding: 0.4rem;
    border: none;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.5s background-color;
    color: var(--main3);
}

button:hover,.upCont label:hover {
    background-color: #014381
}

button:active,.upCont label:active {
    background-color: #013464;
}

input[type="file"] {
    display: none;
}
input{
    border-radius: .25rem;
    margin:.5rem 0;
    padding:.5rem;
    border: 3px solid #595959;
    background-color: var(--dark);
    color: #ffffff;
}
input:focus{
    outline: none !important;
    border: 3px solid var(--main);
}
input::placeholder {
    color: #bdbdbd;
}
/*new table*/
table{
    text-align: center;
    border-collapse: separate;
    border-spacing: 0 0.7rem;
}
th{
    color: white;
}
td {
    white-space: nowrap;
    color: white;
    background-color:#313131;
    min-width: 2rem;
    overflow: hidden;
    padding: .6rem;
}

.download{
    background-color:#055fb4;
    transition: 0.5s;
    text-decoration: none;
    font-weight: bold;
}

.download:hover{
    background-color:#014381;
    transition: 0.5s;
}

.delete:hover{
    background-color: #7a2222;
    transition: 0.5s;
}
.error-msg{
    color: #a62f2f;
}
td:first-child { border-top-left-radius: .35rem; }
td:last-child { border-top-right-radius: .35rem; }
td:first-child { border-bottom-left-radius: .35rem; }
td:last-child { border-bottom-right-radius: .35rem }

.darker{
    background-color: #2a2a2a;
}

.storage{
    color: white;
    text-align: left;
    position: fixed;
    bottom: 1rem;
    left: 1rem;
}
.link-ico{
    color: gray;
    height: .7rem;
    cursor: pointer;
    transition: .5s;
}
.link-ico:hover{
    color: white;
}
.open-folder{
    cursor: pointer;
    transition: .5s;
}
.open-folder:hover{
    background-color: #252525;
}
.text-left{
    text-align: left;
}
.min-w{
    min-width: 20rem;
}
